* {
  margin: 0;
  padding: 0;
}

body {
  margin: 100px;
}

table,
td {
  border: 1px solid #ccc;
}

.yellow {
  background-color: #fcf8c6;
}

.purple {
  background-color: #c5c7fd;
}

.green {
  background-color: #c4f4cd;
}
