* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.top {
  height: 30px;
  background-color: #0d2137;
  color: #fff;
}

.top-internal {
  width: 100%;
  max-width: 1600px;
  height: 30px;
  margin: auto;
}

.top-left,
.top-right {
  width: 50%;
  height: 30px;
  float: left;
}

.top-left ul {
  list-style: none;
}

.top-left li {
  height: 30px;
  line-height: 30px;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
}

.top-left li a {
  text-decoration: none;
  color: #fff;
}

.top-left li .active {
  color: #2e77ae;
}

.top-right {
  float: right;
  margin-top: 2px;
  height: 28px;
}

.top-search {
  width: 110px;
  height: 25px;
  outline: 0;
}

.top-right a {
  float: right;
}

.top-right i {
  font-size: 26px;
  line-height: 26px;
  margin-right: 4px;
}

i.fa-rss-square,
i.fa-rss-square {
  color: orange;
}

i.fa-google-plus-square,
i.fa-youtube {
  color: red;
}

i.fa-facebook-square {
  color: #38529a;
}

i.fa-twitter-square {
  color: #4ea6e9;
}

.top-right input,
.fa-search {
  float: right;
}

i.fa-search {
  font-size: 12px;
  color: #fff;
  background-color: #2e77ae;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
}

.top-sub {
  height: 95px;
  color: #0d2137;
}

.top-sub-internal {
  width: 100%;
  max-width: 1600px;
  height: 95px;
  margin: auto;
}

.logo {
  width: 480px;
  height: 90px;
  float: left;
  margin-top: 5px;
}

.logo h1 {
  font-family: 'Staatliches', cursive;
  letter-spacing: 5px;
  font-size: 5rem;
  line-height: 90px;
}

.top-sub .banner {
  width: 720px; /*650px*/
  height: 80px;
  float: right;
  margin-top: 7px;
  background-color: #ff8e2b;
}

.menu {
  height: 40px;
  background-color: #ff8e2b;
}

.menu-internal {
  width: 100%;
  max-width: 1600px;
  height: 40px;
  margin: auto;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  float: left;
  height: 40px;
  line-height: 40px;
  padding-left: 8px;
  padding-right: 8px;
}

.menu li:hover .submenu {
  display: block;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.submenu {
  width: 150px;
  background-color: #ff8e2b;
  position: absolute;
  display: none;
}

i.fa-sort-down {
  color: #fff;
  text-align: center;
}

.submenu-item {
  height: 30px;
  width: 140px;
  line-height: 30px;
  padding-left: 10px;
}

.submenu-item:hover {
  background-color: #0d2137;
}

.latest-news {
  height: 40px;
}

.latest-news-internal {
  width: 100%;
  height: 40px;
  max-width: 1600px;
  margin: auto;
}

.latest-news-area {
  height: 28px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.latest-news-title {
  background-color: #ff8e2b;
  color: #fff;
  height: 28px;
  display: inline-block;
  line-height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
}

.latest-news-news {
  color: #0d2137;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  padding-left: 5px;
}

.container-internal {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}

.container-right {
  width: 275px;
  min-height: 200px;
  float: right;
  margin-left: 12px;
}

.container-left {
  float: left;
  width: 1313px;
}

.container-right-widget {
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

.widget-title {
  height: 30px;
  border-bottom: 1px solid #ccc;
  background-color: #ddd;
  line-height: 30px;
  padding-left: 5px;
  font-size: 14px;
}

.widget-content {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.widget-content i {
  font-size: 26px;
}

.news-item {
  font-size: 14px;
  margin: 0px 10px;
  padding: 10px 0px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.news-item a {
  text-decoration: none;
  color: #0d2137;
}

.slideshow {
  height: 335px;
  margin-bottom: 20px;
  overflow: hidden;
}

.slideshow-area {
  width: 100000px;
  height: 335px;
  background-color: #ddd;
  transition: all 1s;
}

.slideshow-slide {
  height: 335px;
  float: left;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.slide-info {
  height: 70px;
  background-image: url('../images/slideshow_bg.png');
  background-size: auto 70px;
  margin-top: 265px;
}

.info-title {
  font-size: 20px;
  color: #fff;
  padding-top: 15px;
  padding-left: 20px;
}

.info-subtitle {
  font-size: 13px;
  color: #fff;
  padding-left: 20px;
}

.slideshow-menu {
  position: absolute;
  width: 200px;
  height: 20px;
}

.ball-menu {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 5px;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 10px;
}

.news-area-1 {
  width: 991px;
  height: 420px;
  float: left;
}

.news-area-2 {
  width: 320px;
  height: 420px;
  float: left;
}

.news-item-important {
  text-align: left;
  height: 88px;
  margin-top: 7px;
  margin-bottom: 7px;
}

.news-img {
  width: 80px;
  height: 80px;
  border: 1px solid #ccc;
  padding: 3px;
  float: left;
}

.news-title {
  float: left;
  margin-left: 6px;
  font-size: 16px;
  width: 226px;
  color: #000;
}

.news-subtitle {
  width: 226px;
  font-size: 12px;
  margin-left: 6px;
  color: #999;
  float: left;
}

.news-big {
  margin-left: 10px;
}

.news-big .news-img {
  width: 900px;
  height: 300px;
  margin-bottom: 10px;
}

.news-big .news-img img {
  width: 900px;
  height: 300px;
}

.news-big .news-title {
  width: 900px;
  font-size: 30px;
}
