* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.top {
  height: 30px;
  background-color: #0d2137;
  color: #fff;
}

.top-internal {
  width: 100%;
  max-width: 1600px;
  height: 30px;
  margin: auto;
}

.top-left,
.top-right {
  width: 50%;
  height: 30px;
  float: left;
}

.top-left ul {
  list-style: none;
}

.top-left li {
  height: 30px;
  line-height: 30px;
  float: left;
  margin-left: 8px;
  margin-right: 8px;
}

.top-left li a {
  text-decoration: none;
  color: #fff;
}

.top-left li .active {
  color: #2e77ae;
}

.top-right {
  float: right;
  margin-top: 2px;
  height: 28px;
}

.top-search {
  width: 110px;
  height: 25px;
  outline: 0;
}

.top-right a {
  float: right;
}

.top-right i {
  font-size: 26px;
  line-height: 26px;
  margin-right: 4px;
}

.top-right i.fa-rss-square {
  color: orange;
}

.top-right i.fa-google-plus-square,
i.fa-youtube {
  color: red;
}

.top-right i.fa-facebook-square {
  color: #38529a;
}

.top-right i.fa-twitter-square {
  color: #4ea6e9;
}

.top-right input,
.fa-search {
  float: right;
}

i.fa-search {
  font-size: 12px;
  color: #fff;
  background-color: #2e77ae;
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
}

.top-sub {
  height: 95px;
  color: #0d2137;
}

.top-sub-internal {
  width: 100%;
  max-width: 1600px;
  height: 95px;
  margin: auto;
}

.logo {
  width: 480px;
  height: 90px;
  float: left;
  margin-top: 5px;
}

.logo h1 {
  font-family: "Staatliches", cursive;
  letter-spacing: 5px;
  font-size: 5rem;
  line-height: 90px;
}

.top-sub .banner {
  width: 720px; /*650px*/
  height: 80px;
  float: right;
  margin-top: 7px;
  background-color: #ff8e2b;
}

.menu {
  height: 40px;
  background-color: #ff8e2b;
}

.menu-internal {
  width: 100%;
  max-width: 1600px;
  height: 40px;
  margin: auto;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  float: left;
  height: 40px;
  line-height: 40px;
  padding-left: 8px;
  padding-right: 8px;
}

.menu li:hover .submenu {
  display: block;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.submenu {
  width: 150px;
  background-color: #ff8e2b;
  position: absolute;
  display: none;
}

i.fa-sort-down {
  color: #fff;
  text-align: center;
}

.submenu-item {
  height: 30px;
  width: 140px;
  line-height: 30px;
  padding-left: 10px;
}

.submenu-item:hover {
  background-color: #0d2137;
}
